components_manager:
  task_processors:
    main-task-processor:
      thread_name: main-worker
      worker_threads: 4
    fs-task-processor:
      thread_name: fs-worker
      worker_threads: 2
  default_task_processor: main-task-processor

  components:
    server:
      listener:
        port: 8080
        address: 0.0.0.0
        task_processor: main-task-processor
      listener-monitor:
        port: 8081
        address: 0.0.0.0
        task_processor: main-task-processor
      set-response-server-hostname: false

    logging:
      fs-task-processor: fs-task-processor
      loggers:
        default:
          file_path: '@stderr'
          level: info
          flush_level: info

    tracer:
      service-name: masterclasses-service

    dns-client:
      fs-task-processor: fs-task-processor

    http-client:
      core-component: http-client-core
    http-client-core:
      fs-task-processor: fs-task-processor

    statistics-storage: {}
    testsuite-support: {}

    default-secdist-provider:
      config: configs/secdist.json
    secdist:
      provider: default-secdist-provider

    dynamic-config:
      fs-task-processor: fs-task-processor
      fs-cache-path: build/dynamic_config_cache.json
      defaults:
        USERVER_LOG_REQUEST: false

    masterclasses-db:
      dbalias: masterclasses-db
      blocking_task_processor: fs-task-processor

    users-db:
      dbalias: users-db
      blocking_task_processor: fs-task-processor

    handler-ping:
      path: /ping
      task_processor: main-task-processor
      method: GET

    handler-mclist:
      path: /mclist
      task_processor: main-task-processor
      method: GET

    handler-mcadd:
      path: /mcadd
      task_processor: main-task-processor
      method: POST

    handler-mcaddbulk:
      path: /mcadd/bulk
      task_processor: main-task-processor
      method: POST

    handler-mcdelete:
      path: /mcdelete
      task_processor: main-task-processor
      method: DELETE

    handler-useradd:
      path: /useradd
      task_processor: main-task-processor
      method: POST

    handler-userdelete:
      path: /userdelete
      task_processor: main-task-processor
      method: DELETE

